.gamecard{
    width:29rem;
   
    background-color: aquamarine;
    margin:1rem;
    border-radius: 1rem;
    padding:1rem;
}

.gamecard_section{
 display:flex;
 justify-content: space-between;
 padding:0.2rem 1rem;
}

.gamecard_prop{
    background-color: coral;
    padding:0.4rem 0.7rem;
    border-radius: 0.4rem;
    color:white;
    font-weight: 700;
    min-width: 9rem;
}

.gamecard_value{
    background-color: rgb(108, 162, 28);
    padding:0.4rem 0.7rem;
    border-radius: 0.4rem;
    color:white;
    font-weight: 700;
    min-width: 14rem;
}

.gamecard_buttons{
    width:80%;
    display:flex;
    justify-content: space-between;
    padding:0.2rem 3rem;
    margin-top:2rem;
}

.gamecard_button{
    width:7rem;
    outline : none;
    border:none;
    border-radius:1rem;
    padding:0.5rem;
    background-color: rgb(243, 133, 30);
    color:white;
    font-weight:700;
    font-size:0.8rem;
}

.gamecard_button:hover{
cursor:pointer;
background-color:rgb(225, 11, 11); 
transition:ease-in-out 0.1s;

}

@media only screen and (max-width: 600px) {
      .gamecard{
        width:90%;
        padding:0.5rem;
        margin:0.5rem 0.2;
      
      }

      .gamecard_section{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0.1rem 0.5rem;
        margin:0.8rem;
        margin-left:1rem;
       }

       .gamecard_prop{
        min-width: 7rem;
        margin-bottom:0.5rem;
    }

    .gamecard_value{
        min-width: 7rem;
    }

    .gamecard_buttons{
        width:100%;
        display:flex;
        justify-content: space-between;
        padding:0.6rem 2rem;
        margin-top:2rem;
    }

      
  }
